/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# babeng

/public/fileupload
/public/uploads
/public/file_temp
/public/images
/public/uploads
/public/uploads/images
/public/uploads/audio
/public/uploads/suratbalasan
/public/fileupload/suratbalasan
